body {
    font-family: sans-serif;
}

.main-container {
    background-color: #9CDBD9;
    padding-top: 5px;
    height: 710px;
    width: 800px;
    margin-left: 300px;
}

#game-name {
    background-color:#008675;
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 400px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 10px;
    height: 90px;  
}

#instructions {
    background-color:#B1E4E3;
    color: grey;
    font-weight: italic;
    font-size: 14px;
    width: 700px;
    margin-top: 15px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 10px;
    height: 170px;
    line-height: 1.5;
}

#random-number {
    background-color:#008675;
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 400px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 10px;
    height: 100px;
    position: fixed;
   
}

#wins-losses {
    background-color:#9CDBD9;
    color: #008675;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    margin-right: 200px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 105px;
    position: relative;
    float: right;


}

.crystals {
    clear: both;
    
}

#crystal1 {
    margin-left: 40px;
    margin-top: 15px;
   
}

#score-text {
    margin-left: 40px;
    margin-top: 15px;
    width: 400px;
    background-color: #008675;
    font-style: bold;
    font-size: 30px;
    padding-left: 30px;
    color: white;
}

#score {
    margin-left: 40px;
    margin-top: 15px;
    width: 400px;
    background-color: #008675;
    font-style: bold;
    font-size: 30px;
    padding-left: 30px;
    color: white;
    height: 80px;
}

@media screen and (max-width: 640px) {

    .main-container {
        width: 100%;
        margin: 0;
    }
}