.main-container {
    background-color: #9CDBD9;
    padding-top: 5px;
    height: 710px;
    width: 800px;
    margin-left: 300px;
}

#game-name {
    background-color:#008675;
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 400px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 10px;
    height: 90px;
    
}
